<div class="flex flex-col items-center min-h-screen p-6 mt-16 bg-gray-100">
  <div class="w-full max-w-6xl p-8 mx-auto bg-white rounded-lg shadow-lg">
    <div class="filter-wrapper">
      <button mat-raised-button color="primary" (click)="ajouterPuce()">+</button>
      <input type="text" class="px-4 py-2 border rounded-md w-1/1" [(ngModel)]="searchText" placeholder="🔍 Rechercher"  />
    </div>

    <div class="overflow-y-auto max-h-[60vh] mt-4 px-2">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
        <thead>
          <tr class="bg-gradient-to-r from-[#fc5130] to-[#fc5130] text-white text-left">
            <th class="p-3 border">Numéro</th>
            <th class="p-3 border">Opérateur</th>
            <th class="p-3 border">État</th>
            <th class="p-3 border">Quota</th>
            <th class="p-3 border">Contact & Mission</th>
            <th class="p-3 border">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let puce of getFilteredPuces()" class="transition-all hover:bg-blue-100">
            <td class="p-3 border">{{ puce.numero }}</td>
            <td class="p-3 border">{{ puce.operateur }}</td>
            <td class="p-3 border">{{ puce.etat }}</td>
            <td class="p-3 border">{{ puce.quota }}</td>
            <td class="p-3 border">
              <strong>📞</strong> {{ puce.contact_name }}<br>
              <strong>🛠️</strong> {{ puce.mission_name }}
            </td>
            <td class="flex gap-2 p-3 border">
              <button
                (click)="modifierPuce(puce)"
                mat-icon-button
                title="Modifier">
                <mat-icon class="text-blue-600">edit</mat-icon>
              </button>
              <button
                (click)="supprimerPuce(puce.id!)"
                class="delete-btn"
                mat-icon-button
                title="Supprimer">
                <mat-icon class="text-red-600">delete</mat-icon>
              </button>
            </td>
            
            
          </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="showModal" class="fixed inset-0 z-50 flex justify-end bg-gray-800 bg-opacity-50">
      <app-puce-modal
        class="w-full sm:w-[400px] bg-white h-full shadow-xl p-4"
        [puce]="selectedPuce"
        [contacts]="contacts"
        [missions]="missions"
        (save)="onSavePuce($event)"
        (close)="closeModal()"
      ></app-puce-modal>
    </div>
  </div>
</div>
