<div *ngIf="isFullPageRoute; else mainApp">
  <router-outlet></router-outlet>
</div>

<ng-template #mainApp>
  <div id="main-wrapper">
    <div class="nav-header">
        <img src="assets/img/lum.png" alt="Lumiere SMS Logo" class="logo-abbr" style="height: 150%; width: 50%; position: absolute; left: 25%;"/>
      <div class="nav-control">
        <div class="hamburger">
          <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
      </div>
    </div>

    <app-sidebar></app-sidebar>
    <app-header></app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>
  </div>
</ng-template>