<div *ngIf="isLoginPage; else mainApp">
  <router-outlet></router-outlet>
</div>

<ng-template #mainApp>
  <div id="main-wrapper">
    <div class="nav-header">
      <a href="#" class="brand-logo">
        <i class="logo-abbr fa-brands fa-stumbleupon"></i>
        <h2 class="brand-title">Lumiere SMS</h2>
      </a>
      <div class="nav-control">
        <div class="hamburger">
          <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
      </div>
    </div>

    <app-sidebar></app-sidebar>
    <app-header></app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>
  </div>
</ng-template>
