<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-6">
  <div class="w-full max-w-4xl bg-white shadow-lg rounded-lg p-8 mx-auto">
    <button (click)="openAddUserDialog()"
      class="bg-white text-orange-600 hover:bg-gray-100 font-bold py-2 px-5 rounded-lg shadow-md transition-all flex items-center gap-2">
      ➕ New User
    </button>

    <div *ngFor="let user of users" class="py-4 px-4 max-w-sm mx-auto bg-white rounded-xl shadow-lg space-y-2 mt-6">
      <div class="flex items-center space-x-4 cursor-pointer" (click)="toggleDetails(user.id!)">
        <div>
          <p class="text-lg text-black font-semibold">{{ user.nom }} {{ user.prenom }}</p>
          <p class="text-slate-500 font-medium">{{ user.role }}</p>
        </div>
      </div>

      <div *ngIf="expandedUserId === user.id" class="mt-4 p-4 bg-gray-50 rounded-lg">
        <p><strong>Matricule:</strong> {{ user.matricule }}</p>
        <p><strong>Login:</strong> {{ user.login }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>

        <div class="mt-4 flex gap-2">
          <button (click)="deleteUser(user.id)"
            class="px-4 py-1 text-sm text-red-600 font-semibold rounded-full border border-red-200 hover:text-white hover:bg-red-600">
            Delete
          </button>
          <button
            class="px-4 py-1 text-sm text-blue-600 font-semibold rounded-full border border-blue-200 hover:text-white hover:bg-blue-600">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
