<div class="modal-overlay">
  <div class="modal-card">
    <h3>{{ data ? 'Modifier' : 'Ajouter' }} un Utilisateur</h3>
    <form>
      <input type="text" [(ngModel)]="user.matricule" name="matricule" placeholder="Matricule">
      <input type="text" [(ngModel)]="user.nom" name="nom" placeholder="Nom">
      <input type="text" [(ngModel)]="user.prenom" name="prenom" placeholder="Prénom">
      <input type="text" [(ngModel)]="user.login" name="login" placeholder="Login">
      <input type="text" [(ngModel)]="user.role" name="role" placeholder="Rôle">

      <div class="modal-actions">
        <button type="button" class="cancel-btn" (click)="onCancel()">Annuler</button>
        <button type="button" class="submit-btn" (click)="onSave()">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
