<div class="login-container">
  <div class="login-box">
    <h2>Bienvenue</h2>
    <p>Connectez-vous pour accéder à la plateforme</p>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="text" placeholder="login" [(ngModel)]="login" name="login" required />
      </div>

      <div class="input-group">
        <input type="password" placeholder="Mot de passe" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit" class="login-btn">Se connecter</button>
    </form>
  </div>

  <!-- Right side with the truck image -->
  <div class="image-section">
    <img src="../../../assets/img/truck.jpg" alt="Lumiere Logistique" />
  </div>
</div>
