<div class="bg-white p-4 rounded-lg shadow-md border border-gray-300">
  <h3 class="text-lg font-semibold mb-2">Ajouter un modèle</h3>
  
  <form (ngSubmit)="save()" class="flex flex-col gap-3">
    <input type="text" [(ngModel)]="nom" name="nom" placeholder="Nom du modèle" class="border p-2 rounded-lg">
    <textarea [(ngModel)]="contenu" name="contenu" placeholder="Contenu du modèle" class="border p-2 rounded-lg"></textarea>
    <div class="flex flex-col gap-1">
      <label class="font-medium">Ce modèle est-il confidentiel ?</label>
      <label><input type="radio" [(ngModel)]="is_confidential" name="is_confidential" [value]="true"> Oui</label>
      <label><input type="radio" [(ngModel)]="is_confidential" name="is_confidential" [value]="false"> Non</label>
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 mt-2">
      Enregistrer
    </button>
  </form>
</div>
